.actions {
  a {
    color: rgba(0, 0, 0, 0.65);
  }

  .ant-btn {
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
    height: auto;
    color: red;
    &.ant-btn-danger {
      &:hover,
      &:focus {
        background: none;
      }
    }
  }
}
