td > .ant-form-item {
  margin-bottom: 0;
}

.ant-form-vertical td > .ant-form-item {
  padding-bottom: 0;
}

td > .ant-form-item + .ant-form-item {
  margin-top: 8px;
}

.form--read-only {
  .ant-input-disabled,
  .ant-input-number-disabled,
  .ant-checkbox-disabled + span,
  .ant-select-disabled .ant-select-selection {
    background: transparent;
    border: transparent;
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-select-arrow,
  .ant-calendar-picker-icon {
    display: none;
  }
}
.cursor {
  cursor: pointer;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.image_picker {
  width: 100%;

  .responsive {
    position: relative;
    margin: 0 6px;
    float: left;
    opacity: 1;

    .thumbnail {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px; /* Rounded border */
      padding: 5px; /* Some padding */
      width: 150px; /* Set a small width */
      opacity: 1;
      margin: 0;

      &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.7);
      }
    }

    .selected {
      background-color: rgba(0, 140, 186, 1);
    }

    &:hover {
      cursor: pointer;
    }

    .checked {
      display: none;
    }
  }

  .selected {
    opacity: 0.7;

    .checked {
      display: inline-block;
      transition: 0.5s ease;
      position: absolute;
      bottom: 0;
      right: 0;

      .icon {
        background: url('https://github.com/bagongkia/react-image-picker/blob/master/src/assets/images/check.png?raw=true');
        background-size: cover;
        height: 75px;
        width: 75px;
      }
    }
  }

  .clear {
    clear: both;
  }
}

.ant-card-actions {
  background-color: rgb(237, 235, 235);
}

.app-header {
  display: block;
  padding: 30px;
}
.app-title {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float: left;
  position: relative;
  color: #fff;
  @media (min-width: 768px) {
    width: 20%;
    margin: 280px 0 0 0;
  }
  h1 {
    font-size: 52px;
    margin: 0;
  }
  p {
    font-weight: 200;
    opacity: 0.5;
  }
}
.app-title-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  @media (min-width: 768px) {
    width: auto;
    position: absolute;
    text-align: left;
  }
}
.app-card-list {
  display: inline-block;
  width: 100%;
  float: right;
  margin: 0;
  min-height: 75vh;
  white-space: normal;
  overflow-x: scroll;
  margin-top: -70px;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 768px) {
    width: 80%;
    white-space: nowrap;
    margin-top: 0;
  }
  .card {
    margin: 60px 30px !important;
    display: inline-block !important;
    .card-body {
      white-space: normal !important;
    }
  }
}
.designer-link {
  display: inline-block;
  padding-top: 40px;
}
