.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  line-height: 1.2;
  min-height: 40px;
  height: auto;
  display: flex;
  align-items: center;
  white-space: normal;
}
