.ant-table-tbody > tr:nth-child(even) {
  background: #fafafa;
}

.ant-table-thead {
  > tr {
    > th {
      .anticon-filter,
      .ant-table-filter-icon,
      .ant-table-column-sorter {
        color: rgb(242, 242, 242) !important;
      }

      .ant-table-column-sorter-up.on,
      .ant-table-column-sorter-down.on,
      .ant-table-filter-selected.anticon-filter {
        color: rgb(242, 242, 242) !important;
      }

      &.ant-table-column-has-actions {
        &.ant-table-column-has-sorters:hover,
        &.ant-table-column-has-sorters:hover .anticon-filter,
        &.ant-table-column-has-sorters:hover .ant-table-filter-icon,
        &.ant-table-column-has-filters:hover .anticon-filter:hover,
        &.ant-table-column-has-filters:hover .ant-table-filter-icon:hover {
          background: red !important;
        }
      }
      color: rgb(242, 242, 242);
      background: red;
    }
  }
}
